<p>hola mundo !!!</p>

<button (click)="enviarEvento('desdeButton')">enviar evento</button>

<table border="1">
  <tr>
    <td>
      <p>{{mensaje}}</p>
    </td>
    <td>
      <p>{{mensaje2}}</p>
    </td>
  </tr>
</table>

<p></p>

